@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="col-md-3 col-12">
    <div class="form-group">
        <label for="email-id-column">Tình Trạng</label>
        @Html.DropDownList("InformationExamination.PatientStatus_ID", null, htmlAttributes: new { @class = "form-select" })
        @Html.ValidationMessageFor(model => model.InformationExamination.PatientStatus_ID, "", new { @class = "text-danger" })
    </div>
</div>