.nav-bg {
    background-size: cover;
    background-position: center;
    /*background-image: linear-gradient(90deg, #000000a1 0%, #0e0e0f52 100%), url(../../../../asset/nav-bg.jpg)*/
    background-image: linear-gradient(90deg, #000000a1 0%, #0e0e0f52 100%),url('../../../../asset/navbar.jpg');
}


.ctLabel{
    margin-bottom: 0.7rem;
    align-self: center;
}
.pdl-25{
    padding-left: 2.5rem
}
.avatar{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}

.avatar-edit {
    position: absolute;
    width: 173px;
    height: 130px;
    object-fit: cover;
    border-radius: 4px;
    bottom: 10%;
    left: 0;
}

.leftdropdown {
    padding: 0;
    transform: translate(120px, 0px) !important;
}

.detailDoctor{
    display: flex;
    justify-content: space-between;
}

.detailDoctor-img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position:center;
    margin-right: 20px
}

.content-doctor{
    flex-grow: 1;
}

.modal-user {
    width: 800px
}

.modal-700 {
    max-width: 700px
}

.w85{
    width: 8.5rem;
}

.w45 {
    width: 4.5rem;
}

.btnHover {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #fff;
    padding: 3px 6px;
    transition: .4s ease-in-out;
}

.btn-search {
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 50%;
    border: none;
    background: #b9b9b9;
    transition: all .6s;
}

.btn-search:hover {
    color: #fff;
    background: #009688;
    transform: rotate( 360deg);
}

.btnHover.trash {
    background-color: #FF0000;
}

.btnHover.info{
    color:#fff;
    background-color: #DB97FF;
}

.btnHover.plus {
    background-color:#009DAE;
}

.btnHover.edit {
    background-color: #F0BB62;
}

.btnHover.print {
    background-color: #616F39;
}

.btnHover.edit:hover {
    color:#fff;
    background-color: #ddb41e;
   
}

.btnHover.print:hover {
    color: #fff;
    background-color: #A7D129;
}


.btnHover.plus:hover {
    color: #fff;
    background-color: #6998AB
}

.btnHover.trash:hover{
    color:#fff;
    background-color: #950101;
}

.btnHover.info:hover {
    color:#fff;
    background-color: #B983FF;
}

.page-link{
    border: unset;
}

.choices__inner{
    background-color: #fff
}

.choices{
    margin-bottom: 0
}

.choices[data-type*="select-one"] select.choices__input {
    display: block !important;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
}

.invalidLB {
    position: absolute;
    top: 100%;
    left: 0;
}

.form-group label.invalidLB {
    color: red;
    font-size: 12px;
}

.choices__inner > .invalidLB::after{
    content:"";
    display: block;
    position: relative;
    margin-bottom: 20px
}

.invalidLB ~ .form-control-icon{
    top: 45% !important;
}

.mb-25 {
    margin-bottom: 25px
}

.has-icon-left .pd-form {
    padding: 10px 12px 10px 40px;
}

.icon-Medication {
    top: 45% !important
}

.is-flipped .choices__list--dropdown{
    bottom: unset
}

table.dataTable > thead .sorting:before, table.dataTable > thead .sorting_asc:before {
    content: "↑";
}
table.dataTable > thead .sorting:after, table.dataTable > thead .sorting_desc:after {
    content: "↓";
}

.text-danger ~ .form-control-icon{
    top: 18px !important; 
}

.underline{
    position:relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.pdlLeft{
    padding-left:30px
}
.m-icon {
    position: relative;
    top: 1px;
    left: -2px;
}

.imagePreview {
    width: 250px;
    height: 250px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
    border-radius: 4px
}

.imgUp {
    margin-bottom: 15px;
    display: flex;
    flex-flow: column
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

.ml-5px {
    margin-left: 5px
}

.ml-25px {
    margin-left: 25px
}

.img-avatarDoctor {
    width: 8rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 4px;
    object-position: top;
}

.bell {
    display: block;
    font-size: 40px;
    color: #000000;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.mgb-1{
    margin-bottom: 1rem;
}

.mgt-05{
    margin-top: 0.5rem;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }

    1% {
        -webkit-transform: rotateZ(30deg);
    }

    3% {
        -webkit-transform: rotateZ(-28deg);
    }

    5% {
        -webkit-transform: rotateZ(34deg);
    }

    7% {
        -webkit-transform: rotateZ(-32deg);
    }

    9% {
        -webkit-transform: rotateZ(30deg);
    }

    11% {
        -webkit-transform: rotateZ(-28deg);
    }

    13% {
        -webkit-transform: rotateZ(26deg);
    }

    15% {
        -webkit-transform: rotateZ(-24deg);
    }

    17% {
        -webkit-transform: rotateZ(22deg);
    }

    19% {
        -webkit-transform: rotateZ(-20deg);
    }

    21% {
        -webkit-transform: rotateZ(18deg);
    }

    23% {
        -webkit-transform: rotateZ(-16deg);
    }

    25% {
        -webkit-transform: rotateZ(14deg);
    }

    27% {
        -webkit-transform: rotateZ(-12deg);
    }

    29% {
        -webkit-transform: rotateZ(10deg);
    }

    31% {
        -webkit-transform: rotateZ(-8deg);
    }

    33% {
        -webkit-transform: rotateZ(6deg);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
    }

    37% {
        -webkit-transform: rotateZ(2deg);
    }

    39% {
        -webkit-transform: rotateZ(-1deg);
    }

    41% {
        -webkit-transform: rotateZ(1deg);
    }

    43% {
        -webkit-transform: rotateZ(0);
    }

    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }

    1% {
        -moz-transform: rotate(30deg);
    }

    3% {
        -moz-transform: rotate(-28deg);
    }

    5% {
        -moz-transform: rotate(34deg);
    }

    7% {
        -moz-transform: rotate(-32deg);
    }

    9% {
        -moz-transform: rotate(30deg);
    }

    11% {
        -moz-transform: rotate(-28deg);
    }

    13% {
        -moz-transform: rotate(26deg);
    }

    15% {
        -moz-transform: rotate(-24deg);
    }

    17% {
        -moz-transform: rotate(22deg);
    }

    19% {
        -moz-transform: rotate(-20deg);
    }

    21% {
        -moz-transform: rotate(18deg);
    }

    23% {
        -moz-transform: rotate(-16deg);
    }

    25% {
        -moz-transform: rotate(14deg);
    }

    27% {
        -moz-transform: rotate(-12deg);
    }

    29% {
        -moz-transform: rotate(10deg);
    }

    31% {
        -moz-transform: rotate(-8deg);
    }

    33% {
        -moz-transform: rotate(6deg);
    }

    35% {
        -moz-transform: rotate(-4deg);
    }

    37% {
        -moz-transform: rotate(2deg);
    }

    39% {
        -moz-transform: rotate(-1deg);
    }

    41% {
        -moz-transform: rotate(1deg);
    }

    43% {
        -moz-transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }

    1% {
        transform: rotate(30deg);
    }

    3% {
        transform: rotate(-28deg);
    }

    5% {
        transform: rotate(34deg);
    }

    7% {
        transform: rotate(-32deg);
    }

    9% {
        transform: rotate(30deg);
    }

    11% {
        transform: rotate(-28deg);
    }

    13% {
        transform: rotate(26deg);
    }

    15% {
        transform: rotate(-24deg);
    }

    17% {
        transform: rotate(22deg);
    }

    19% {
        transform: rotate(-20deg);
    }

    21% {
        transform: rotate(18deg);
    }

    23% {
        transform: rotate(-16deg);
    }

    25% {
        transform: rotate(14deg);
    }

    27% {
        transform: rotate(-12deg);
    }

    29% {
        transform: rotate(10deg);
    }

    31% {
        transform: rotate(-8deg);
    }

    33% {
        transform: rotate(6deg);
    }

    35% {
        transform: rotate(-4deg);
    }

    37% {
        transform: rotate(2deg);
    }

    39% {
        transform: rotate(-1deg);
    }

    41% {
        transform: rotate(1deg);
    }

    43% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}


