.ctLabel{
    margin-bottom: 0.7rem;
    align-self: center;
}
.pdl-25{
    padding-left: 2.5rem
}
.avatar{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%
}

.leftdropdown {
    padding: 0;
    transform: translate(120px, 0px) !important;
}

.detailDoctor{
    display: flex;
    justify-content: center;
}

.detailDoctor-img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position:center;
    margin-right: 20px
}

.modal-user {
    width: 800px
}

.modal-doctor {
    max-width: 800px
}

.clickbutton {
    border: none;
    padding: 5px;
    background-color: transparent;
    color: #435ebe;
}

.clickbutton:hover {
    background-color: #435ebe;
    color: #fff;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.w80{
    width: 80px;
}

.btnHover {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #000;
    padding: 4px
}

.btnHover:hover i {
    color: #435ebe;
}

.page-link{
    border: unset;
}

.choices__inner{
    background-color: #fff
}

.choices{
    margin-bottom: 0
}

.choices[data-type*="select-one"] select.choices__input {
    display: block !important;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
}

.invalidLB {
    position: absolute;
    top: 100%;
    left: 0;
}

.form-group label.invalidLB {
    color: red;
    font-size: 12px;
}

.choices__inner > .invalidLB::after{
    content:"";
    display: block;
    position: relative;
    margin-bottom: 20px
}

.invalidLB ~ .form-control-icon{
    top: 45% !important;
}

.mb-25 {
    margin-bottom: 25px
}

.has-icon-left .pd-form {
    padding: 10px 12px 10px 40px;
}

.icon-Medication {
    top: 45% !important
}