.nav-bg {
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0,57,255,0.32566530029980745) 0%, rgba(0,57,255,0.12958686892725846) 100%), url('../../../../asset/021.jpg');
}


.ctLabel{
    margin-bottom: 0.7rem;
    align-self: center;
}
.pdl-25{
    padding-left: 2.5rem
}
.avatar{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%
}

.avatar-edit {
    position: absolute;
    width: 173px;
    height: 130px;
    object-fit: cover;
    border-radius: 4px;
    bottom: 10%;
    left: 0;
}

.leftdropdown {
    padding: 0;
    transform: translate(120px, 0px) !important;
}

.detailDoctor{
    display: flex;
    justify-content: space-between;
}

.detailDoctor-img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position:center;
    margin-right: 20px
}

.content-doctor{
    flex-grow: 1;
}

.modal-user {
    width: 800px
}

.modal-700 {
    max-width: 700px
}

.w80{
    width: 80px;
}

.btnHover {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #000;
    padding: 3px 6px;
    background-color: #435ebe;
}

.btnHover:hover i {
    background-color: #3b4f96;
}

.page-link{
    border: unset;
}

.choices__inner{
    background-color: #fff
}

.choices{
    margin-bottom: 0
}

.choices[data-type*="select-one"] select.choices__input {
    display: block !important;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
}

.invalidLB {
    position: absolute;
    top: 100%;
    left: 0;
}

.form-group label.invalidLB {
    color: red;
    font-size: 12px;
}

.choices__inner > .invalidLB::after{
    content:"";
    display: block;
    position: relative;
    margin-bottom: 20px
}

.invalidLB ~ .form-control-icon{
    top: 45% !important;
}

.mb-25 {
    margin-bottom: 25px
}

.has-icon-left .pd-form {
    padding: 10px 12px 10px 40px;
}

.icon-Medication {
    top: 45% !important
}

.is-flipped .choices__list--dropdown{
    bottom: unset
}

table.dataTable > thead .sorting:before, table.dataTable > thead .sorting_asc:before {
    content: "↑";
}
table.dataTable > thead .sorting:after, table.dataTable > thead .sorting_desc:after {
    content: "↓";
}

.text-danger ~ .form-control-icon{
    top: 18px !important; 
}

.underline{
    position:relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}


.m-icon {
    position: relative;
    top: 1px;
    left: -2px;
}

.imagePreview {
    width: 250px;
    height: 250px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
    border-radius: 4px
}

.imgUp {
    margin-bottom: 15px;
    display: flex;
    flex-flow: column
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

.ml-5px {
    margin-left: 5px
}