<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link href="~/Users/cssDoctor.css" rel="stylesheet" />
<script>
    (function (w, d) {
        !function (e, t, r, a, s) {
            e[r] = e[r] || {}, e[r].executed = [], e.zaraz = { deferred: [] }; var n = t.getElementsByTagName("title")[0]; e[r].c = t.cookie, n && (e[r].t = t.getElementsByTagName("title")[0].text), e[r].w = e.screen.width, e[r].h = e.screen.height, e[r].j = e.innerHeight, e[r].e = e.innerWidth, e[r].l = e.location.href, e[r].r = t.referrer, e[r].k = e.screen.colorDepth, e[r].n = t.characterSet, e[r].o = (new Date).getTimezoneOffset(),//
                e[s] = e[s] || [], e.zaraz._preTrack = [], e.zaraz.track = (t, r) => e.zaraz._preTrack.push([t, r]), e[s].push({ "zaraz.start": (new Date).getTime() }); var i = t.getElementsByTagName(a)[0], o = t.createElement(a); o.defer = !0, o.src = "/cdn-cgi/zaraz/s.js?" + new URLSearchParams(e[r]).toString(), i.parentNode.insertBefore(o, i)
        }(w, d, "zarazData", "script", "dataLayer");
    })(window, document);
</script>
<section class="hero-wrap hero-wrap-2" style="background-image: url(https://preview.colorlib.com/theme/toothcare/images/xbg_2.jpg.pagespeed.ic.tdZ9NoFhG4.webp)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 text-center mb-5">
                <p class="breadcrumbs"><span class="me-2"><a href="@Url.Action("Index", "Home")">Home <i class="fa fa-chevron-right"></i></a></span> <span>Dentist <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Qualified Doctors</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 aos-init aos-animate" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(https://preview.colorlib.com/theme/toothcare/images/doc-1.jpg)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Lloyd Wilson</h3>
                        <span class="position mb-2">Head Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 aos-init aos-animate" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(https://preview.colorlib.com/theme/toothcare/images/doc-2.jpg.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Rachel Parker</h3>
                        <span class="position mb-2">Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>