@{
    ViewBag.Title = "Doctor";
}

<link href="@Url.Content("~/Users/doctor.css")" rel="stylesheet" />

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image:url(images/xdoc-1.jpg.pagespeed.ic.myvVwp80RP.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Lloyd Wilson</h3>
                        <span class="position mb-2">Head Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image:url(images/xdoc-2.jpg.pagespeed.ic.2QUsxWkZeQ.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Rachel Parker</h3>
                        <span class="position mb-2">Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image:url(images/xdoc-3.jpg.pagespeed.ic.ssPmw2cMao.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Ian Smith</h3>
                        <span class="position mb-2">Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image:url(images/xdoc-4.jpg.pagespeed.ic.7oxaXGL52E.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Alicia Henderson</h3>
                        <span class="position mb-2">Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image:url(images/xdoc-5.jpg.pagespeed.ic.Q-A_XzkM9n.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Lloyd Wilson</h3>
                        <span class="position mb-2">Head Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image:url(images/xdoc-6.jpg.pagespeed.ic.d62lQRR913.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Rachel Parker</h3>
                        <span class="position mb-2">Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image:url(images/xdoc-7.jpg.pagespeed.ic.3EVd-myp1W.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Ian Smith</h3>
                        <span class="position mb-2">Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image:url(images/xdoc-8.jpg.pagespeed.ic.HYgX2VZzWx.webp)"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Alicia Henderson</h3>
                        <span class="position mb-2">Dentist</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>