@{
    ViewBag.Title = "Home Page";
}
@*<link href="~/Users/cssDoctor.css" rel="stylesheet" />*@
<style>
    section:nth-child(odd) {
        background-color: #f4f4f4;
    }
    /*.ftco-section {
        padding: 8em 0;
        position: relative;
        width: 100%;
        overflow-x: hidden;
    }
    .heading-section .subheading {
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
        color: #00bcd4;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .dflex{
        display:flex;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .block-20 {
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        display: block;
        width: 100%;
        height: 300px;
        z-index: -1;
    }
    .blog-entry .text {
        position: relative;
        width: 100%;
        margin: 0 auto;
        z-index: 0;
        padding: 30px;
    }
    .blog-entry .meta {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
    }
    .blog-entry .meta span {
        margin-right: 10px;
    }
    .blog-entry .meta span i {
        color: #00bcd4;
        margin-right: .5rem;
    }
    .text p{
        font-size: 1.4rem;
        margin-top: 0;
    }
    .blog-entry .text .heading {
        font-size: 20px;
        margin-bottom: 2rem;
        font-weight: 500;

    }*/
    
</style>
<div id="wrapper">
    <div class="content-container">
        <div class="container entry-content">
            <div id="content" class="page-content  page-default-content">
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1549551999594 vc_row-has-fill vc_row_1895932345">
                    <div class="wpb_animate_when_almost_visible wpb_zoomIn zoomIn wpb_column vc_column_container vc_col-sm-12 vc_column_657524984">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="sh-heading sh-heading-style1" id="heading-QhCiHOvUop">
                                    <h2 class="sh-heading-content size-custom">
                                        <span style="text-align: left;">Proffesional</span>
                                        <span style="text-align: left;">Family Health Care</span>
                                    </h2>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-9TdQeZ36MC  " style="height: 20px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="sh-heading  " id="heading-qaRi4Ounc7">
                                    <div class="sh-element-margin">
                                        <h2 class="sh-heading-content size-custom text-left">
                                            CREATE YOUR MEDICAL WEBSITE USING JEVELIN
                                        </h2>
                                    </div>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-WyFIEGj7f5  " style="height: 50px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="wpb_single_image wpb_content_element vc_align_left">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="221" height="58" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/icons2.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1549539284566 vc_row-no-padding vc_row_279272962">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_1586697657">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1549539157283 vc_row-o-content-middle vc_row-flex vc_row_1208199224" style="width: 100%; max-width: 1640px;margin-left: auto; margin-right: auto;">
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill vc_column_1651834847">
                                        <div class="vc_column-inner vc_custom_1549539354178">
                                            <div class="wpb_wrapper" style="width: 100%; max-width: 350px;margin-left: auto; margin-right: auto;">
                                                <div class="sh-heading  " id="heading-WQmd43PUq9">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-l text-left">
                                                            1-800-600-380
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-MgqTFBAOdm  " style="height: 30px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div class="sh-heading  " id="heading-MNBcD3rFdy">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-s text-left">
                                                            EMERGENCY SERVICE
                                                        </h2>
                                                    </div>
                                                </div>

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-XLFIhc5uHs  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div id="text-block-melAdHv7aN" class="sh-text-block">
                                                    Aliquam erat volutpat. Nullam imperdiet sapien felis, non lobortis odio mattis in. Quisque dapibus aliquet dictum. Integer dapibus ullamcorper est, ac .
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-7R2CqSA4nN  " style="height: 30px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div id="button-V41n0y6WE8" class="sh-button-container  sh-button-style-1">
                                                    <div class="sh-element-margin">
                                                        <a href="#" target="_self" class="sh-button sh-button-medium ">
                                                            <span class="sh-button-text">
                                                                See More
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill vc_column_1944005951">
                                        <div class="vc_column-inner vc_custom_1549539360892">
                                            <div class="wpb_wrapper" style="width: 100%; max-width: 350px;margin-left: auto; margin-right: auto;">
                                                <div id="icon-h8ZgBTV2Mb" class="sh-icon  sh-icon-left">
                                                    <div class="sh-element-margin">
                                                        <div class="sh-icon-container">
                                                            <i class="sh-icon-data ti-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-gVFpZtcQxz  " style="height: 30px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div class="sh-heading  " id="heading-ZiF9V8L6bh">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-s text-left">
                                                            DO YOU WANT TO MAKE AN APPOINTMENT
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-t3oC5VXML4  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="text-block-vp9eJmaA5N" class="sh-text-block">
                                                    Aliquam erat volutpat. Nullam imperdiet sapien felis, non lobortis odio mattis in. Quisque dapibus aliquet dictum.
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-fAg9tlrQYV  " style="height: 30px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="button-n04aCD2yx3" class="sh-button-container  sh-button-style-1">
                                                    <div class="sh-element-margin">
                                                        <a href="#" target="_self" class="sh-button sh-button-medium ">
                                                            <span class="sh-button-text">
                                                                Book Now
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill vc_column_831571119">
                                        <div class="vc_column-inner vc_custom_1549539367670">
                                            <div class="wpb_wrapper" style="width: 100%; max-width: 350px;margin-left: auto; margin-right: auto;">
                                                <div id="icon-4vMz1e6gNI" class="sh-icon  sh-icon-left">
                                                    <div class="sh-element-margin">
                                                        <div class="sh-icon-container">
                                                            <i class="sh-icon-data ti-time"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-w49SHnEpOD  " style="height: 30px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div class="sh-heading  " id="heading-qaBlRiUONc">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-s text-left">
                                                            OPENING HOURS
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-AYocRCB0dr  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="text-block-pI4BGiolAE" class="sh-text-block">
                                                    <p>Monday &#8211; Friday</p>
                                                    <p>Saturtay &#8211; Sunday</p>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-IDwGtE9ns2  " style="height: 30px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="button-UdJNQ58kxt" class="sh-button-container  sh-button-style-1">
                                                    <div class="sh-element-margin">
                                                        <a href="#" target="_self" class="sh-button sh-button-medium ">
                                                            <span class="sh-button-text">
                                                                Contact Us
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <section id="about" data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1539866195448 vc_row_1079293477" style="position: relative; left: -58.8px; box-sizing: border-box; width: 998px;">
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_column_1400321454">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_right">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="737" height="496" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1200.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1200.png 737w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1200-300x202.png 300w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1200-600x404.png 600w" sizes="(max-width: 737px) 100vw, 737px"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_column vc_column_container vc_col-sm-4 vc_column_1439000852 wpb_start_animation animated">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper" style="width: 100%; max-width: 500px;margin-left: auto; margin-right: auto;">
                                <div class="sh-heading sh-heading-style1" id="heading-bRjS6vr3G2">
                                    <h2 class="sh-heading-content size-xl">
                                        <span style="text-align: left;"><strong>About</strong> Jevelin Clinic</span>
                                    </h2>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-91u6GgJHnt  " style="height: 15px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="sh-heading  " id="heading-3Jo8VApl7b">
                                    <div class="sh-element-margin">
                                        <h2 class="sh-heading-content size-custom text-left">
                                            PROFESSIONAL CARE
                                        </h2>
                                    </div>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-5U87BYJRHK  " style="height: 50px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p><span style="font-size: 12px; color: #363636;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci ex, pulvinar nec finibus ut, cursus eget libero. In dictum sem non sapien condimentum aliquet. Nulla facilisi. Mauris efficitur dolor dolor, id porta nulla interdum vitae.</span></p>
                                    </div>
                                </div>
                                <div class="sh-accordion sh-accordion-style1 sh-accordion-style6 panel-group" id="accordion-4Dtf5jiy8C" role="tablist" aria-multiselectable="true">
                                    <div class="sh-accordion-item panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading-4Dtf5jiy8C-1">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion-4Dtf5jiy8C" href="#collapse-4Dtf5jiy8C-1" aria-expanded="true" aria-controls="collapse-4Dtf5jiy8C-1" class="">
                                                    <div class="sh-table">
                                                        <div class="sh-table-cell sh-accordion-icon-cell">
                                                            <span class="sh-accordion-icon">
                                                                <i class="open-icon fa fa-chevron-down"></i>
                                                                <i class="close-icon fa fa-chevron-up"></i>
                                                            </span>
                                                        </div>
                                                        <div class="sh-table-cell sh-accordion-content-cell">
                                                            <span class="sh-accordion-title">Medical Consulting</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-4Dtf5jiy8C-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-4Dtf5jiy8C-1">
                                            <div class="panel-body">
                                                <div class="sh-table">
                                                    <div class="sh-table-cell-top sh-accordion-icon-cell">
                                                        <span class="sh-accordion-icon">
                                                            <i class="open-icon fa fa-chevron-down"></i>
                                                            <i class="close-icon fa fa-chevron-up"></i>
                                                        </span>
                                                    </div>
                                                    <div class="sh-table-cell-top sh-accordion-content-cell">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra, urna non pellentesque sollicitudin, felis lorem porta nibh, suscipit lacinia ante augue venenatis nibh. Nullam tristique ornare lorem at </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="sh-accordion-item panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading-4Dtf5jiy8C-2">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion-4Dtf5jiy8C" href="#collapse-4Dtf5jiy8C-2" aria-expanded="false" aria-controls="collapse-4Dtf5jiy8C-2" class="collapsed">
                                                    <div class="sh-table">
                                                        <div class="sh-table-cell sh-accordion-icon-cell">
                                                            <span class="sh-accordion-icon">
                                                                <i class="open-icon fa fa-chevron-down"></i>
                                                                <i class="close-icon fa fa-chevron-up"></i>
                                                            </span>
                                                        </div>
                                                        <div class="sh-table-cell sh-accordion-content-cell">
                                                            <span class="sh-accordion-title">Laboratory Analysis</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-4Dtf5jiy8C-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4Dtf5jiy8C-2">
                                            <div class="panel-body">
                                                <div class="sh-table">
                                                    <div class="sh-table-cell-top sh-accordion-icon-cell">
                                                        <span class="sh-accordion-icon">
                                                            <i class="open-icon fa fa-chevron-down"></i>
                                                            <i class="close-icon fa fa-chevron-up"></i>
                                                        </span>
                                                    </div>
                                                    <div class="sh-table-cell-top sh-accordion-content-cell">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra, urna non pellentesque sollicitudin, felis lorem porta nibh, suscipit lacinia ante augue venenatis nibh. Nullam tristique ornare lorem at </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sh-accordion-item panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading-4Dtf5jiy8C-3">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion-4Dtf5jiy8C" href="#collapse-4Dtf5jiy8C-3" aria-expanded="false" aria-controls="collapse-4Dtf5jiy8C-3" class="collapsed">
                                                    <div class="sh-table">
                                                        <div class="sh-table-cell sh-accordion-icon-cell">
                                                            <span class="sh-accordion-icon">
                                                                <i class="open-icon fa fa-chevron-down"></i>
                                                                <i class="close-icon fa fa-chevron-up"></i>
                                                            </span>
                                                        </div>
                                                        <div class="sh-table-cell sh-accordion-content-cell">
                                                            <span class="sh-accordion-title">Diagnostic Clinic</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-4Dtf5jiy8C-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4Dtf5jiy8C-3">
                                            <div class="panel-body">
                                                <div class="sh-table">
                                                    <div class="sh-table-cell-top sh-accordion-icon-cell">
                                                        <span class="sh-accordion-icon">
                                                            <i class="open-icon fa fa-chevron-down"></i>
                                                            <i class="close-icon fa fa-chevron-up"></i>
                                                        </span>
                                                    </div>
                                                    <div class="sh-table-cell-top sh-accordion-content-cell">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra, urna non pellentesque sollicitudin, felis lorem porta nibh, suscipit lacinia ante augue venenatis nibh. Nullam tristique ornare lorem at </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_column_662971839">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                            </div>
                        </div>
                    </div>
                </section>

                <div class="vc_row-full-width vc_clearfix"></div>
                <section id="departments" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1549386070285 vc_row-has-fill vc_row_774528230">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_1928161231">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="sh-heading  " id="heading-GAHpV8z4dk">
                                    <div class="sh-element-margin">
                                        <h2 class="sh-heading-content size-custom text-center">
                                            How we can help you
                                        </h2>
                                    </div>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-ZlTVNY2kJn  " style="height: 20px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="sh-heading  " id="heading-SwYt2ZerRn">
                                    <div class="sh-element-margin">
                                        <h2 class="sh-heading-content size-custom text-center">
                                            READ MORE ABOUT OUR SERVICES
                                        </h2>
                                    </div>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-7ToiWtBXZR  " style="height: 50px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1549386094916 vc_row-has-fill vc_row-o-equal-height vc_row-flex vc_row_1051629836" style="width: 100%; max-width: 1300px;margin-left: auto; margin-right: auto;">
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_column_41109743">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper" style="width: 100%; max-width: 300px;margin-left: auto; margin-right: auto;">
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-z20DWFYihH  " style="height: 50px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1537537596106">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="127" height="94" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/icon3_0004_.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
                                                    </figure>
                                                </div>

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-siXRmJnQqg  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="sh-heading  " id="heading-ZJWeDQnbLw">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-custom text-left">
                                                            Ophthalmology
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-qCHnDQ26ke  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="text-block-B9OAsLzptH" class="sh-text-block">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend, orci sed egestas faucibus, leo sapien laoreet massa, feugiat
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-PwWy2hgp1J  " style="height: 80px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1537537682420">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="127" height="94" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/icon3_0002_.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
                                                    </figure>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-LadQphwVuj  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div class="sh-heading  " id="heading-wnvJLF5TVY">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-custom text-left">
                                                            Laboratory
                                                        </h2>
                                                    </div>
                                                </div>

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-SDI1pwCzlO  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div id="text-block-WPwobL3OZz" class="sh-text-block">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend, orci sed egestas faucibus, leo sapien laoreet massa, feugiat
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_column_868303297">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper" style="width: 100%; max-width: 300px;margin-left: auto; margin-right: auto;">

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-QSFCKwtsBP  " style="height: 50px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1537537619945">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="127" height="94" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/icon3_0005_.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
                                                    </figure>
                                                </div>

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-q8AhiPSg7V  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="sh-heading  " id="heading-KkdX9QF8RZ">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-custom text-left">
                                                            Cardiology
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-W1nd8tPkK2  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div id="text-block-W82QVJfoMz" class="sh-text-block">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend, orci sed egestas faucibus, leo sapien laoreet massa, feugiat
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-EinbPAG3e1  " style="height: 80px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1537537701964">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="127" height="94" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/icon3_0001_.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
                                                    </figure>
                                                </div>

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-qktEjL4g32  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="sh-heading  " id="heading-uKpQ9U60Hh">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-custom text-left">
                                                            Pediatrics
                                                        </h2>
                                                    </div>
                                                </div>

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-qajfGOhMN0  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div id="text-block-lnCm26bhkM" class="sh-text-block">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend, orci sed egestas faucibus, leo sapien laoreet massa, feugiat
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="wpb_column vc_column_container vc_col-sm-4 vc_column_1442378259">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper" style="width: 100%; max-width: 300px;margin-left: auto; margin-right: auto;">
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-TU4pPx3Fa1  " style="height: 50px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1537537636409">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="127" height="94" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/icon3_0003_.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
                                                    </figure>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-BQMF0VPRzO  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="sh-heading  " id="heading-YlE2NGzSLm">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-custom text-left">
                                                            Dentistry
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-avK1pHPXxJ  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div id="text-block-dSveyR03F9" class="sh-text-block">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend, orci sed egestas faucibus, leo sapien laoreet massa, feugiat
                                                </div>

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-3deVtyvGlS  " style="height: 80px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1537537716795">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="127" height="94" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/icon3_0000_.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
                                                    </figure>
                                                </div>

                                                <div class="sh-empty-space vc_empty_space sh-empty-space-nmLoWOR0Vu  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>

                                                <div class="sh-heading  " id="heading-UNw7Qq4TzF">
                                                    <div class="sh-element-margin">
                                                        <h2 class="sh-heading-content size-custom text-left">
                                                            Radiology
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="sh-empty-space vc_empty_space sh-empty-space-xtUyFCuJS8  " style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div id="text-block-SOM2Ef89hv" class="sh-text-block">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend, orci sed egestas faucibus, leo sapien laoreet massa, feugiat
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1537542183399 vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_row_1009874973">
                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_column_155301469">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                            </div>
                        </div>
                    </div>
                    <div class="wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft wpb_column vc_column_container vc_col-sm-4 vc_column_1849584702">
                        <div class="vc_column-inner vc_custom_1549552234702">
                            <div class="wpb_wrapper" style="width: 100%; max-width: 480px;margin-left: auto; margin-right: auto;">
                                <div class="sh-heading sh-heading-style1" id="heading-kN84Znrz9s">
                                    <h2 class="sh-heading-content size-xl">
                                        <span style="text-align: left;"><b>Jenna </b>Berg</span>
                                    </h2>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-u1FjVqyNQo  " style="height: 15px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="sh-heading  " id="heading-D3GQJHWl0n">
                                    <div class="sh-element-margin">
                                        <h2 class="sh-heading-content size-custom text-left">
                                            PROFESSIONAL DENTIST
                                        </h2>
                                    </div>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-W2ngN13roV  " style="height: 50px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p><span style="font-size: 14px;"><strong><span style="color: #363636;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci ex, pulvinar nec finibus ut, cursus eget libero. In dictum sem</span></strong></span></p>
                                        <p><span style="font-size: 12px; color: #363636;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci ex, pulvinar nec finibus ut, cursus eget libero. In dictum sem non sapien condimentum aliquet. Nulla facilisi. Mauris efficitur dolor dolor, id porta nulla interdum vitae.</span></p>

                                    </div>
                                </div>
                                <div class="sh-empty-space vc_empty_space sh-empty-space-uUkGB6lxgo  " style="height: 50px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div id="button-M2tBvXawKS" class="sh-button-container  sh-button-style-1">
                                    <div class="sh-element-margin">
                                        <a href="@Url.Action("Doctors", "Home")" class="sh-button sh-button-medium ">
                                            <span class="sh-button-text">
                                                View All Doctors
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_column_314217261">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1537542291079">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="960" height="705" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1186-copy.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1186-copy.jpg 960w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1186-copy-300x220.jpg 300w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1186-copy-768x564.jpg 768w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/23/2018/09/Layer-1186-copy-600x441.jpg 600w" sizes="(max-width: 960px) 100vw, 960px" /></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1537542216539 vc_row-has-fill vc_row_1361630735">
                    <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6 vc_column_271998703">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div id="counter-G2ObBCnz1R" class="sh-counter sh-counter-style2">
                                    <div class="sh-counter-icon"><i class=""></i></div>
                                    <div class="sh-counter-number sh-counter-animate size-custom">@ViewBag.ListPatient</div>
                                    <div class="sh-counter-divider"></div>
                                    <span class="sh-counter-title">Bệnh Nhân</span>
                                    <div class="sh-counter-subtitle">Hạnh Phúc</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6 vc_column_177572327">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div id="counter-H91PZE7znL" class="sh-counter sh-counter-style2">
                                    <div class="sh-counter-icon"><i class=""></i></div>
                                    <div class="sh-counter-number sh-counter-animate size-custom">@ViewBag.ListDoctor</div>
                                    <div class="sh-counter-divider"></div>
                                    <span class="sh-counter-title">Đội Ngũ</span>
                                    <div class="sh-counter-subtitle">Bác Sĩ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6 vc_column_811236608">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div id="counter-bRISA7rvGy" class="sh-counter sh-counter-style2">
                                    <div class="sh-counter-icon"><i class=""></i></div>
                                    <div class="sh-counter-number sh-counter-animate size-custom">12</div>
                                    <div class="sh-counter-divider"></div>
                                    <span class="sh-counter-title">Dich Vụ</span>
                                    <div class="sh-counter-subtitle">Khám Chữa Bệnh</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6 vc_column_1142495062">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div id="counter-h0xYiPZu8a" class="sh-counter sh-counter-style2">
                                    <div class="sh-counter-icon"><i class=""></i></div>
                                    <div class="sh-counter-number sh-counter-animate size-custom">48</div>
                                    <div class="sh-counter-divider"></div>
                                    <span class="sh-counter-title">Tổng Số</span>
                                    <div class="sh-counter-subtitle">Chi Nhánh</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div id="news" class="ftco-section">
                    <div class="container-xl">
                        <div class="row justify-content-center dflex">
                            <div class="col-md-7 heading-section text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                                <span class="subheading">Our News</span>
                                <h2>Recent From News</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="blog-entry justify-content-end aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                                    <a href="blog-single.html" class="block-20 img" style="background-image: url(https://preview.colorlib.com/theme/toothcare/images/ximage_1.jpg.pagespeed.ic.w6MrNiJ_KH.webp)">
                                    </a>
                                    <div class="text">
                                        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 20, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
                                        <h3 class="heading mb-3"><a href="#">How to keep your teeth always in the best condition</a></h3>
                                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="blog-entry justify-content-end aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                                    <a href="blog-single.html" class="block-20 img" style="background-image: url(https://preview.colorlib.com/theme/toothcare/images/ximage_2.jpg.pagespeed.ic.w6MrNiJ_KH.webp)">
                                    </a>
                                    <div class="text">
                                        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 20, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
                                        <h3 class="heading mb-3"><a href="#">How to keep your teeth always in the best condition</a></h3>
                                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="blog-entry justify-content-end aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                                    <a href="blog-single.html" class="block-20 img" style="background-image: url(https://preview.colorlib.com/theme/toothcare/images/ximage_3.jpg.pagespeed.ic.w6MrNiJ_KH.webp)">
                                    </a>
                                    <div class="text">
                                        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 20, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
                                        <h3 class="heading mb-3"><a href="#">How to keep your teeth always in the best condition</a></h3>
                                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div id="contacts"class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1539866408672 vc_row-has-fill vc_row_1543340112">
                    <div class="wpb_column vc_column_container vc_col-sm-3 vc_column_1625054574">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="sh-iconbox sh-iconbox-style2 sh-iconbox-left improved-responsiveness" id="iconbox-oQzW7tlGPF">

                                    <div class="sh-iconbox-icon">
                                        <div class="sh-iconbox-icon-shape sh-iconbox-square">
                                            <i class="sh-iconbox-hover ti-location-pin"></i>
                                        </div>
                                    </div>

                                    <div class="sh-iconbox-aside">
                                        <div class="sh-iconbox-title">
                                            <h3>ADDRESS</h3>
                                        </div>
                                        <div class="sh-iconbox-seperator"></div>
                                        <div class="sh-iconbox-content">
                                            Street number 5, Town, Country
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3 vc_column_519650333">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="sh-iconbox sh-iconbox-style2 sh-iconbox-left improved-responsiveness" id="iconbox-RkqcxVQG2v">

                                    <div class="sh-iconbox-icon">
                                        <div class="sh-iconbox-icon-shape sh-iconbox-square">
                                            <i class="sh-iconbox-hover ti-time"></i>
                                        </div>
                                    </div>

                                    <div class="sh-iconbox-aside">
                                        <div class="sh-iconbox-title">
                                            <h3>WORK HOURS</h3>
                                        </div>
                                        <div class="sh-iconbox-seperator"></div>
                                        <div class="sh-iconbox-content">
                                            Mon. &#8211; Frie. 11AM &#8211; 19PM
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3 vc_column_245858185">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="sh-iconbox sh-iconbox-style2 sh-iconbox-left improved-responsiveness" id="iconbox-jQDItxsgSl">

                                    <div class="sh-iconbox-icon">
                                        <div class="sh-iconbox-icon-shape sh-iconbox-square">
                                            <i class="sh-iconbox-hover icon-envelope"></i>

                                        </div>
                                    </div>

                                    <div class="sh-iconbox-aside">
                                        <div class="sh-iconbox-title">
                                            <h3>E-MAIL</h3>
                                        </div>
                                        <div class="sh-iconbox-seperator"></div>
                                        <div class="sh-iconbox-content">
                                            brandname@company.com
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3 vc_column_980974748">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="sh-iconbox sh-iconbox-style2 sh-iconbox-left improved-responsiveness" id="iconbox-0zkQ9314n7">

                                    <div class="sh-iconbox-icon">
                                        <div class="sh-iconbox-icon-shape sh-iconbox-square">
                                            <i class="sh-iconbox-hover icon-phone"></i>
                                        </div>
                                    </div>

                                    <div class="sh-iconbox-aside">
                                        <div class="sh-iconbox-title">
                                            <h3>TELEPHONE</h3>
                                        </div>
                                        <div class="sh-iconbox-seperator"></div>
                                        <div class="sh-iconbox-content">
                                            (+371) 512 566 921
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*----------  FEEDBACK SECTION ------------------- *@
                <div class="vc_row-full-width vc_clearfix"></div>
                <div class="sh-clear"></div>
            </div>
        </div>
    </div>
</div>


