@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    html, body{
        height: 100%;
    }
    body {
        margin: 0;
        overflow: hidden;
    }
    footer{
        display:none
    }
    .navbar-nav {
        display: none
    }
    .navbar.navbar-expand.navbar-light{
        display: none
    }
    #main{
        padding: 0rem;
    }
    video {
        position: absolute;
        top: 0;
        left: 8rem;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: .8;
    }

    .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    /*mix-blend-mode: overlay;*/
    }
</style>
<video autoplay muted loop>
    <source src="@Url.Content("~/Areas/Admin/assets/videos/vbg_Trim.mp4")" type="video/mp4" />
</video>
<div class="video-overlay">
</div>