@model ElectronicMedicalRecords.Models.User
<div class="sidebar-menu">
    <ul class="menu p-0 m-0">
        <li class="sidebar-item  has-sub" style="margin-top:0">
            <audio autoplay="autoplay" controls="controls" loop id="mp3">
                <source src="~/Areas/Admin/assets/Nhac.mp3" type="audio/mpeg" />
            </audio>
            <a href="#" class='sidebar-link'>
                <div class="avatar-lg">
                    <img class="avatar" style="width:3rem;height:3rem" src="@Model.Image" alt="Face 1">
                </div>
                <div class="ms-3 name">
                    <p class="font-bold" style="margin-bottom:0">Xin Chào</p>
                    <p class="text-white mb-0">@Model.Name</p>
                </div>
            </a>
            <ul class="submenu ">
                <li class="submenu-item ">
                    <a class="text-white" href="@Url.Action("Edit","Users", new { id = Model.ID})">Cập nhật thông tin cá nhân</a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li class="submenu-item ">
                            <a class="text-white" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
                        </li>
                    }
                }
            </ul>
        </li>
    </ul>
</div>

<script>
    function setCookie(c_name, value) {
        window.localStorage.setItem(c_name, value)
    }

    function getCookie(c_name) {
        var getTime = window.localStorage.getItem(c_name);
        return getTime;
    }

    var song = document.getElementById('mp3');
    var played = false;
    var tillPlayed = getCookie('timePlayed');

    function update() {
        if (!played) {
            if (tillPlayed) {
                song.currentTime = tillPlayed;
                song.play();
                played = true;
            } else {
                song.play();
                played = true;
            }
        } else {
            setCookie('timePlayed', song.currentTime);
        }
    }
    setInterval(update, 1000);
</script>

