@using ElectronicMedicalRecords.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<section>
    <header class="header-login">
        <span>trang quản lý</span>
        <h2>Bệnh án điện tử</h2>
    </header>
    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="container">
            <div class="form">
                <h4>Đăng nhập với tài khoản Văn Lang</h4>
                <h3>Chào mừng bạn đã quay trở lại với công việc!</h3>           
                <div class="d-grid gap-2">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
    <div class="footer-login">
        <span> © 2021 - Bản quyền thuộc Khoa CNTT, Trường Đại Học Văn Lang</span>
    </div>
</section>
