@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="card-header" style="padding-bottom:0px">
    <h4 class="card-title">Thông Tin Toa Thuốc</h4>
    <hr />
</div>

<div class="card-content">
    <div class="card-body">
        <div class="row">
            @if (Model.Detail_DiagnosticsCategory != null)
            {
                <div class="col-md-12" style="margin-bottom:12px">
                    <label>Chẩn Đoán</label>
                    <input class="form-control" value="@Model.Detail_DiagnosticsCategory.DiagnosticsCategory.Name" name="Detail_DiagnosticsCategory.DiagnosticsCategory.Name" readonly />
                </div>
                <div class="col-md-12" style="margin-bottom:12px">
                    <label>Lời Khuyên</label>
                    <input class="form-control" value="@Model.Detail_DiagnosticsCategory.Advice" name="Detail_DiagnosticsCategory.Advice" readonly />
                </div>
            }
            <div class="col-md-12">
                <table id="TableMedication" style="width:100%" border="1" class="table-bordered">
                    <tr>
                        <th>Tên Thuốc</th>
                        <th>Liều Lượng</th>
                        <th>Ghi Chú</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

